<main class="background_light page padding-horizontal users-control-page">
    <h2 class="title_2 brown-dark-color">Пользователи</h2>
    <ul class="links-list entities-list">
        <li>
            <a href="#" class="link entities-list__entity-title">
                Пользователь с очень длинным именем
            </a>
            |<a href="#" class="link">редакт.</a>|<a href="#"
                                                     class="link text_dangerous">
                удалить
            </a>
        </li>
        <li>
            <a href="#" class="link entities-list__entity-title">admin1</a>
            |<a href="#"
                class="link">редакт.</a>|<a href="#" class="link text_dangerous">
                удалить
            </a>
        </li>
        <li>
            <a href="#" class="link entities-list__entity-title">admin1</a>
            |<a href="#"
                class="link">редакт.</a>|<a href="#" class="link text_dangerous">
                удалить
            </a>
        </li>
    </ul>
    <a href="#" class="link link_last">Создать аккаунт</a>
</main>