.article__title-image {
  margin-bottom: 1.5em;
}

.article__content {
}

.article__content > * {
  padding-bottom: 1.5em;

  width: 100%;
}

.article__info {
  padding-top: 1em;
}

.article__avatar {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  vertical-align: middle;
}

.article__author-and-date {
  display: inline-block;
  vertical-align: middle;
  padding-left: 1em;
}
.article__author {
  font-weight: 500;
  text-decoration: none;
  color: var(--light);
}
.article__date {
  color: var(--gray);
}

@media (min-width: 56em) {
  .article__title {
    text-align: center;
  }
}
