/*@font-face {
    font-family: "LC Body";
    src: url("/fonts/LC_Body.ttf");
}

@font-face {
    font-family: "Sehnsucht Font";
    src: url("/fonts/Sehnsucht_Font.ttf");
}*/

@font-face {
    font-family: 'LC Body';
    src: url('/fonts/LC-Body.eot');
    src: url('/fonts/LC-Body.eot?#iefix') format('embedded-opentype'), url('/fonts/LC-Body.woff2') format('woff2'), url('/fonts/LC-Body.woff') format('woff'), url('/fonts/LC-Body.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sehnsucht Font';
    src: url('/fonts/SehnsuchtFont.eot');
    src: url('/fonts/SehnsuchtFont.eot?#iefix') format('embedded-opentype'), url('/fonts/SehnsuchtFont.woff2') format('woff2'), url('/fonts/SehnsuchtFont.woff') format('woff'), url('/fonts/SehnsuchtFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    --gray: #bdb4ad;
    --white: #fff;
    --light: #fff7f1;
    --brown: #654d38;
    --brown-dark: #36291d;
    --dark: #251c14;
    --orange: #feb571;
}

*::-moz-selection {
    background-color: var(--brown);
    color: var(--light);
}

*::selection {
    background-color: var(--brown);
    color: var(--light);
}

:root,
.body,
ul,
ol {
    margin: 0;
    padding: 0;
}

:root {
    overflow-x: hidden;
}

    :root img {
        max-width: 100%;
        object-fit: contain;
    }

.gray-color {
    color: var(--gray);
}

.brown-dark-color {
    color: var(--brown-dark);
}

.light-color {
    color: var(--light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

p {
    margin: 0;
}

@media (min-width: 75em) {
    :root {
        font-size: 18px;
    }
}
