.inline-button {
    display: inline-block;
  padding: 0.5em 1em;
  border: none;
  outline: none;
  cursor: pointer;

  font-size: 1rem;
  transition: background-color 200ms, color 200ms;
}

.inline-button_brown {
  background-color: var(--brown);
  color: var(--light);
}

.inline-button_brown:hover {
  background-color: var(--orange);
  color: var(--brown-dark);
}
