.link {
  position: relative;
  text-decoration: underline;
  color: var(--dark);
  transition: color 200ms;
  cursor: pointer;
}

.link_last {
  display: inline-block;
  margin-top: 2em;
}

.link:hover {
  color: var(--orange);
}

.link::after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;

  background-color: var(--orange);
  transition: width 200ms;
}

.link:hover::after {
  width: 100%;
}
