@using AvoskaIsReal.Domain.Entities
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model TextField

@*Todo: в _Layout уже добавлен JQuery, правда, может быть, другой*@
<script src="~/tinymce/public/jquery/jquery.min.js"></script>
<script src="~/tinymce/public/tinymce/tinymce.min.js"  referrerpolicy="origin"></script>
<script src="~/tinymce/public/tinymce-jquery/tinymce-jquery.min.js"></script>

<script src="~/js/configure-editor.js"></script>

<main class="background_light page padding-horizontal">
    <h2 class="title_2 brown-dark-color">Редактировать - @Model.Title</h2>
    <form class="form" method="post" name="article-form">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="Id" />
        <input type="hidden" asp-for="DateAdded" />
        <input type="hidden" asp-for="CodeWord" />
        <div class="form__item">
            <label class="form__label" asp-for="Title"></label>
            <input type="text" asp-for="Title"/>
        </div>
        <div class="form__item form__padding-bottom">
            <label class="form__label" asp-for="Text">
                Содержание страницы
            </label>
            <textarea class="form__ck-editor" asp-for="Text" id="editor"></textarea>
        </div>
        <div class="form__item">
            <label class="form__label" asp-for="MetaKeywords">
                Meta keywords
                <span class="info-hint" data-info-hint="Ключевые слова, которые будут использованы поисковой системой. Указываются через запятую">
                    ?</span>
            </label>
            <input type="text" asp-for="MetaKeywords"/>
        </div>
        <div class="form__item form__padding-bottom">
            <label class="form__label" asp-for="MetaDescription">
                Meta description<span class="info-hint"
                    data-info-hint="Небольшое описание статьи, которое будет использовано поисковой системой">?</span>
            </label>
            <textarea asp-for="MetaDescription"></textarea>
        </div>

        <div class="form__item">
            <button class="button form__submit" type="submit">Сохранить</button>
        </div>
    </form>
</main>
