<main class="background_light page padding-horizontal">
    <h2 class="title_2 brown-dark-color">Редактировать - [имя страницы]</h2>
    <form class="form" method="post" name="article-form">
        <div class="form__item form__ck-editor form__padding-bottom">
            <!--Здесь будет CK editor-->
        </div>
        <div class="form__item">
            <label class="form__label">
                Meta keywords<span class="info-hint"
                                   data-info-hint="Ключевые слова, которые будут использованы поисковой системой">?</span>
            </label>
            <input type="text" value="Авоська, доказательства, факты" />
        </div>
        <div class="form__item form__padding-bottom">
            <label class="form__label">
                Meta description<span class="info-hint"
                                      data-info-hint="Небольшое описание статьи, которое будет использовано поисковой системой">?</span>
            </label>
            <textarea>Здесь вводится небольшое описание</textarea>
        </div>

        <div class="form__item">
            <button class="button form__submit" type="submit">Сохранить</button>
        </div>
    </form>
</main>