<main class="background_light page padding-horizontal users-control-page">
    <h2 class="title_2 brown-dark-color">Страницы сайта</h2>
    <ul class="links-list entities-list">
        <li>
            <a href="#" class="link entities-list__entity-title">Главная</a>|<a href="#"
                                                                                class="link">редакт.</a>
        </li>
        <li>
            <a href="#" class="link entities-list__entity-title">Контакты</a>|<a href="#"
                                                                                 class="link">редакт.</a>
        </li>
        <li>
            <a href="#" class="link entities-list__entity-title">Все об Авоське</a>|<a href="#" class="link">редактировать</a>
        </li>
    </ul>
</main>