<main class="background_light page">
    <h2 class="title_2 brown-dark-color padding-horizontal">
    Все об Авоське
    </h2>
    <div class="limited-text padding-horizontal">
        <p class="limited-text__content brown-dark-color">
            Авоська родилась в семье сбежавших из дома Юноны и Вельсура. Она -
            первый ребенок в их семье, после нее родились и другие домочадцы.
            Помимо Авоськи в семье есть Небоська, Чевоська, Мршинська
        </p>
    </div>

    @await Component.InvokeAsync("ArticleCards")

</main>