@model TextField

<main class="page contact-page background_dark padding-horizontal">
    <div>@Html.Raw(Model.Text)</div>
    
</main>

@section Header {
    @{
        await Html.RenderPartialAsync("_HeaderVerticalPartial");
    }
}