<main class="page contact-page background_dark padding-horizontal">
    <div class="contact-page__text-block">
    <h2 class="title_1 contact-page__title">
        Вы знаете что-то об Авоське?
    </h2>
    <p>
        Если вы узнали хоть что-то новое, мы будем признательны, если вы
        сообщите об этом нам. Также принимаются намеки и теории об Авоське и
        ее родственниках
    </p>
    </div>
    <div class="contact-page__text-block">
    <h2 class="title_1 contact-page__title">
        Хотите вступить в команду добровольцев?
    </h2>
    <p>
        Вы можете один раз отправить нам письмо, а можете включиться в
        дискуссии об Авоське и стать модератором сайта. В любом случае
        добровольцев ничто не обязывает, так что заходите на чай!
    </p>
    </div>

    <div class="contact-page__text-block">
    <h2 class="title_1">По всем вопросам по проекту</h2>
    <ul class="links-list contact-page__links-list">
        <li><a class="link" href="">example_email@mail.com</a></li>
        <li><a class="link" href="">www.vk.com/some_vk_id</a></li>
        <li><a class="link" href="">www.other_contacts.com</a></li>
    </ul>
    <ul class="links-list contact-page__links-list">
        <li><a class="link" href="">example_email@mail.com</a></li>
        <li><a class="link" href="">www.vk.com/some_vk_id</a></li>
        <li><a class="link" href="">www.other_contacts.com</a></li>
    </ul>
    </div>
    <div class="contact-page__text-block">
    <h2 class="title_1">По всем вопросам по Авоське</h2>
    <ul class="links-list contact-page__links-list">
        <li><a class="link" href="">example_email@mail.com</a></li>
        <li><a class="link" href="">www.vk.com/some_vk_id</a></li>
        <li><a class="link" href="">www.other_contacts.com</a></li>
    </ul>
    </div>
</main>

@section Header {
    @{
        await Html.RenderPartialAsync("_HeaderVerticalPartial");
    }
}