<main class="main-page page background_dark padding-horizontal">
    <h1 class="title_1 main-page__title">
    <span class="main-page__title-avoska">Авоська</span> существует
    </h1>
    <div class="main-page__text-block">
    <h2 class="title_2 gray-color">Кто это?</h2>
    <p class="main-page__p">
        Авоська - ужасное и загадочное существо, живущее в Гавнистане. Она
        вселяет страх и уважение жителей страны, она - самое омерзительное,
        что только есть на свете.
    </p>
    </div>
    <div class="main-page__text-block">
    <h2 class="title_2 gray-color">Наша миссия</h2>
    <p class="main-page__p">
        Мы собираем всю информацию об Авоське, а также доказательства ее
        существования
    </p>
    </div>
    <button class="button main-page__button">Что мы знаем о ней?</button>
</main>

@section Header {
    @{
        await Html.RenderPartialAsync("_HeaderVertical");
    }
}
