@model TextField
@{
    ViewBag.MetaTitle = Model.Title;
    ViewBag.MetaKeywords = Model.MetaKeywords;
    ViewBag.MetaDescription = Model.MetaDescription;
}

<main class="main-page page background_dark padding-horizontal">
    <h1 class="title_1 main-page__title">
        <span class="main-page__title-avoska">Авоська</span> существует
    </h1>
    <div>@Html.Raw(Model.Text)</div>
    
    <a class="button main-page__button" asp-area=""
       asp-controller="Articles" asp-action="Index">Что мы знаем о ней?</a>
</main>
@{
    await Html.RenderPartialAsync("_FinalPagePartial");
}

@section Header {
    @{
        await Html.RenderPartialAsync("_HeaderVerticalPartial");
    }
}
