@model ChangePasswordViewModel
<main class="background_light page padding-horizontal">
    <h2 class="title_2">Сменить пароль</h2>
    <form class="form" method="post" name="change-password-form"
        asp-area="" asp-controller="Users" asp-action="ChangePassword">
        <div asp-validation-summary="All"></div>
        <div class="form__item">
            <label asp-for="OldPassword" class="form__label">Старый пароль</label>
            <input asp-for="OldPassword" type="password" />
        </div>
        <div class="form__item">
            <label asp-for="NewPassword" class="form__label">Новый пароль</label>
            <input asp-for="NewPassword" type="password" />
        </div>
        
        <div class="form__item">
            <button class="button form__submit" type="submit">Сохранить</button>
        </div>
    </form>
</main>