<section class="padding-horizontal final-page">
    <h2 class="final-page__title">
    <span class="final-page__title_avoska">авоська</span> существует
    </h2>
    <div class="final-page__phrase2">Думаешь не</div>
    <div class="final-page__phrase3">Значит Авоська идет к тебе</div>
</section>
