<header class="header header_vertical padding-horizontal nav-panel__button">
    <div class="logo logo_shadow header_vertical__logo gray-color">
    авоська существует
    </div>
    <div class="burger nav-panel__burger header_vertical__burger burger_gray">
    <div class="burger__line burger__top"></div>
    <div class="burger__line burger__middle"></div>
    <div class="burger__line burger__bottom"></div>
    </div>
</header>