<!DOCTYPE html>

<html lang="ru">
<head>
    @{
        await Html.RenderPartialAsync("_MetatagsPartial");
    }
</head>
<body class="body">
    @if (IsSectionDefined("Header"))
    {
        @RenderSection("Header")
    } else
    {
        
    }
    @{ await Html.RenderPartialAsync("_Nav"); }

    <div>
        @RenderBody()
    </div>
    @{
        await Html.RenderPartialAsync("_FooterPartial");
    }
    @{ await Html.RenderPartialAsync("_ScriptsPartial"); }
</body>
</html>
