@inject IAuthorizationService AuthorizationService
@using System.Security.Claims
@using Microsoft.AspNetCore.Authorization
@{
    // Установка id текущего пользователя для возможности ссылки на его
    // профиль из NavBar
    string? currentUserId = User.FindFirst(ClaimTypes.NameIdentifier)?.Value;
}
<nav class="nav-panel nav-panel_closed background_dark padding-horizontal">
    <div class="nav-panel__section">
        <ul class="links-list nav-panel__links-list">
            <li>
                <a class="link" asp-area="" asp-controller="Home" asp-action="Index">
                    Главная
                </a>
            </li>
            <li>
                <a class="link" asp-area="" asp-controller="Articles" asp-action="Index">
                    Доказательства и теории
                </a>
            </li>
            <li>
                <a class="link" asp-area="" asp-controller="Articles"
                   asp-action="AllAboutAvoska">
                    Все об Авоське
                </a>
            </li>
            <li>
                <a class="link" asp-area="" asp-controller="Home" asp-action="Contact">
                    Связаться с нами
                </a>
            </li>
        </ul>
    </div>
    @if (this.User.Identity != null && this.User.Identity.IsAuthenticated)
    {
        <div class="nav-panel__section">
            <div class="nav-panel__hor-line"></div>
            <ul class="links-list nav-panel__links-list">
                <li><a class="link" asp-area="" asp-controller="Users" asp-action="Index" asp-route-id="@currentUserId">
                    Ваш профиль</a></li>
                <li><a class="link" asp-area="moderator" asp-controller="Articles" asp-action="List">
                    Управление статьями</a></li>
            </ul>
        </div>
    }
    @if ((await AuthorizationService.AuthorizeAsync(User, "AdminArea")).Succeeded)
    {
        <div class="nav-panel__section">
            <div class="nav-panel__hor-line"></div>
            <ul class="links-list nav-panel__links-list">
                <li><a class="link" asp-area="admin" asp-controller="Users" asp-action="Index">Управление аккаунтами</a></li>
                <li><a class="link" asp-area="admin" asp-controller="TextFields" asp-action="Index">Управление контентом страниц</a></li>
            </ul>
        </div>
    }
</nav>