<nav class="nav-panel nav-panel_closed background_dark padding-horizontal">
    <div class="nav-panel__section">
    <ul class="links-list nav-panel__links-list">
        <li><a class="link" asp-area="" asp-controller="Home" asp-action="Index">
            Главная</a></li>
        <li><a class="link" asp-area="" asp-controller="Home" asp-action="Articles">
            Доказательства и теории</a></li>
        <li><a class="link"  asp-area="" asp-controller="Home" asp-action="AllAboutAvoska">
            Все об Авоське</a></li>
        <li><a class="link" asp-area="" asp-controller="Home" asp-action="Contact">
            Связаться с нами</a></li>
    </ul>
    </div>
    <div class="nav-panel__section">
    <div class="nav-panel__hor-line"></div>
    <ul class="links-list nav-panel__links-list">
        <li><a class="link" href="">Профиль</a></li>
        <li><a class="link" href="">Управление статьями</a></li>
    </ul>
    </div>
    <div class="nav-panel__section">
    <div class="nav-panel__hor-line"></div>
    <ul class="links-list nav-panel__links-list">
        <li><a class="link" href="">Управление аккаунтами</a></li>
        <li><a class="link" href="">Управление контентом страниц</a></li>
    </ul>
    </div>
</nav>