<main class="background_light page padding-horizontal">
    <h2 class="title_2">
        <img class="avatar" src="images/pic01.jpg" />
        Имя тестового пользователя
    </h2>
    <div class="user-info">
        <div class="user-info__field">
            <div class="user-info__title">Карьера</div>
            <p>
                Изучает Авоську с 9 лет. Соавтор 3-х книг об Авоське и Гавнистане.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed debitis
                atque quo ipsum sunt assumenda provident tempora praesentium quas
                fugiat, esse fugit, illum necessitatibus quis, eaque at fuga
                exercitationem distinctio! Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Vitae, excepturi placeat? Maiores reprehenderit
                qui error distinctio impedit. Assumenda voluptatibus reiciendis, id
                incidunt omnis enim voluptates eos ipsum provident cum fugiat. Lorem
                ipsum dolor sit amet consectetur, adipisicing elit. Quo recusandae
                repudiandae at doloribus itaque aut vero nesciunt maxime, ducimus
                nam similique quae totam porro corporis ipsa debitis tempore aliquid
                incidunt.
            </p>
        </div>
        <div class="user-info__field">
            <div class="user-info__title">О себе</div>
            <p>
                Краткое описание пользователся о себе Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Porro non similique aut a
                exercitationem minima architecto maxime voluptas? Explicabo fuga
                similique, sit nesciunt enim voluptatem consequatur esse impedit.
                Fuga, illo. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Id asperiores non debitis illum! Eius tenetur optio veniam,
                voluptatibus unde vero ipsam non corrupti exercitationem. Quo hic
                culpa doloremque ex assumenda! Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Minima, vitae adipisci possimus
                corrupti dicta recusandae tenetur, ut cum culpa mollitia aliquid, et
                architecto laudantium temporibus quod unde! Odio, quae sunt? Lorem
                ipsum dolor, sit amet consectetur adipisicing elit. Perferendis
                maxime voluptatem iste, autem commodi laboriosam? Repudiandae,
                laboriosam? Sunt, eaque, obcaecati repellat illum tempora hic maxime
                blanditiis asperiores debitis aliquam Lorem ipsum dolor sit, amet
                consectetur adipisicing elit. Neque, voluptates excepturi. Quas
                totam quae doloremque, molestias dolores rem eos minus ducimus?
                Error esse doloribus eum dolores a, rem cum. Et.
            </p>
        </div>
        <div class="user-info__field">
            <div class="user-info__title">Контакты</div>
            <p>www.testusersite.org</p>
        </div>
    </div>

    <div class="user-info__field">
        <a class="link link_last" asp-area="Moderator" asp-controller="Account"
           asp-action="Edit">Редактировать профиль</a>
    </div>
    <div class="user-info__field">
        <a class="link " href="#">Выйти из аккаунта</a>
    </div>
</main>