@model IEnumerable<Article>

<main class="background_light page">
    <h2 class="title_2 brown-dark-color padding-horizontal">
        Все об Авоське
    </h2>
    <div class="limited-text padding-horizontal">
        <p class="limited-text__content brown-dark-color">
            @Html.Raw(ViewBag.TextField.Text)
        </p>
    </div>

    @foreach (Article article in Model)
    {
        @await Component.InvokeAsync("ArticleCards", new { article = article });
    }

</main>