@model TextField

<main class="background_light page">
    <h2 class="title_2 brown-dark-color padding-horizontal">
        Все об Авоське
    </h2>
    <div class="limited-text padding-horizontal">
        <p class="limited-text__content brown-dark-color">
            @Html.Raw(Model.Text)
        </p>
    </div>

    @await Component.InvokeAsync("ArticleCards")

</main>