<main class="background_light page">
    <h2 class="title_2 brown-dark-color padding-horizontal">
        Теории и доказательства
    </h2>
    
    @await Component.InvokeAsync("ArticleCards")
    
</main>