<main class="background_light page padding-horizontal users-control-page">
    <h2 class="title_2 brown-dark-color">Статьи</h2>
    <ul class="links-list entities-list">
        <li>
            <a href="#" class="link entities-list__entity-title">
                Авоська уже почти в Воронеже! Она скоро доберется до
                многомиллионного города
            </a>|<a href="#" class="link">редакт.</a>|<a href="#"
                                                         class="link text_dangerous">удалить</a>
        </li>
        <li>
            <a href="#" class="link entities-list__entity-title">Семья Авоськи</a>|<a href="#" class="link">редакт.</a>|<a href="#"
                                                                                                                           class="link text_dangerous">удалить</a>
        </li>
        <li>
            <a href="#" class="link entities-list__entity-title">
                Миф или реальность: в Воронеже открыли магазин, посвещенный
                Авоське
            </a>|<a href="#" class="link">редакт.</a>|<a href="#"
                                                         class="link text_dangerous">удалить</a>
        </li>
    </ul>
    <a href="#" class="link link_last">Создать статью</a>
</main>